@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap')

:root {
  --primary-color: #f26a2e;
  --secondary-color: #f7f7f7;
  --background-color: #f7f7f7;
  --text-color: #333;
  --border-color: #f7f7f7;
  --border-radius: 0.25rem;
  --transition: all 0.3s linear;
}

/* Global Styles */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-color);
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  border: #333 solid 2px;
}

