body {
    background-color: #7ce4f1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #333 solid 3px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
}   

nav {
    float: left;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

.content {
    background-color: #7af5e5;
    padding: 20px;
    margin-top: 20px;
    min-height: 500px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.checkbox{
    margin-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.checkbox label{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.checkbox input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.checkbox input[type="submit"]{
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dropdown{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dropdown select{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
